.footer {
    background-color: #021e39;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footerMain {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 20px;
    margin: 0 auto;
  }
  
  .socialMedia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .socialMedia h2 {
    margin-bottom: 20px;
  }
  
  .socialMedia a {
    display: inline-block;
    font-size: 24px;
    margin: 0 20px;
    color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  .socialMedia a:hover {
    color: #0077b5;
  }
  
  .contactForm {
    flex: 1;
    margin-left: 40px;
  }
  
  .contactForm h2 {
    margin-bottom: 20px;
  }
  
  .contactForm form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contactForm input,
  .contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .contactForm textarea{
    height: 150px;
  }
  
  .contactForm button {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .contactForm button:hover {
    background-color: #005f8b;
  }
  
  .footerSig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  @media only screen and (max-width: 1350px) {
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footerMain{
        width: 100%;
        display: flex;
        justify-items: center;
      flex-direction: column;
      align-items: center;
    }
  
    .socialMedia {
       display: grid;
       grid-template-columns: 1fr 1fr 1 fr 1fr;
      margin-bottom: 20px;
    }
  
    .contactForm {
        flex-direction: column;
      margin-left: 0;
      margin-top: 40px;
      padding: 10px;
    }
  }
  