button :hover{
    cursor: pointer;
  }
  
  a:hover{
    cursor :pointer;
  }
  .Navbar{
    background-color: #021e39;
    width: 100%;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    opacity: 1;
  }
  
  .Navbar .leftSide{
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .Navbar.leftSide .links{
    max-height: 80px ;
  }
  .links a{
    text-decoration: none;
    color: white;
    font-size : 25px;
    margin-left: 15px;
  }
  
  .Navbar .leftSide #hidden{
    display: flex;
  }
  .Navbar .rightSide{
    flex: 50%;
    display : flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
  }
  
  .Navbar .rightSide input{
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 10px;
    color: black;
  }
  
  .rightSide button{
    height: 32px;
    width: 70px;
    font-size: 16px;
    color: black;
    cursor: pointer;
  }
  .leftSide button{
    display: none;
    margin-left: 20px;
  }
  
  @media only screen and (max-width : 1250px) {
  
   .leftSide .links a{
        text-decoration: none;
        color: white;
        font-size : 20 px;
        margin-left: 10px;
    }
    
   .leftSide button{
        display: none;
    }
  }
  
  @media only screen and (max-width : 1250px) {
  
    .links a{
        font-size : 15 px;
        margin-left: 5px;
    }
  
    .leftSide button{
        display: flex;
    }
    .Navbar .leftSide .links{
      display: none;
    }
  
    .Navbar .leftSide #hidden{
      position: absolute;
      left: 0;
      top: 80px;
      height: 100vh;
      width: 100%;
      background-color: #021e39 ;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .Navbar .leftSide #hidden a{
      margin: 10px;
      font-size: 50px;
      border-bottom: white 3px;
    
  
    }
  }