.home , .quiz , .scoreSection{
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.imageContainer{
    background-image: url(./assets/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.highlight{
    color: green;
}

 .about{
    width: 100%;
    height: calc(100vh - 300px);
    background-color: rgba(12, 12, 12, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
 }

 .about h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #e9d35b;
    
 }

 .about .prompt{
    width: 40%;
    font-size: 40px;
 }

 .about p a{
    color: #f0f0f0;
    
 }

 .linkButton , .scoreSection button{
    background-color: blue;
    color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
 }

 .linkButton , .about .prompt{
    cursor: pointer;
    padding: 10px;
 }
 .itemsBody{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px; 
    align-items: center;
 }

 .oneOfThree{
    font-size: 12px;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    height: 300px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.5);
    text-align: center;
 }

.quiz ,.learn , .leaderBoard{
    margin-top: 50px;
    background-color: #f0f0f0;
    color: black;
    width: 60vw;
    min-height: 60vh;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 43px 0px rgba(0,0,0, 0.75);
    margin-bottom: 50px;
}

 .quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionCount , .timer{
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.explanation{
    text-align: center;
}
.nextQuestionButton{
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
}
.timer{
    background-color: green;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 60px;
    width: 200px;
    margin : 0 auto
}
.timerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.questionRoot , .learnRoot{
    display: grid;
    grid-template-columns:  2fr 1fr;
    padding: 20px;
}

.questionText{
    font-size: 40px;
    padding: 20px;
}
.answerSection{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.answerSection button{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    min-height: 30px;
    height: auto;
}
.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-style: solid;
  }
  
  .up {
    border-width: 0 5px 5px;
    border-color: transparent transparent #000;
  }
  
  .down {
    border-width: 5px 5px 0;
    border-color: #000 transparent transparent;
  }

.login-with-google-btn{
    border: #e9d35b;
    color: red;
}
.score{
    font-size: 100px;
    text-align: center;
}
.scoreSection{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.footer{
    min-height: 100px;
    height: auto;
    background-color: black;
    color: white;
    width: 100%;
    padding: 3em 2em;

}
.footerMain{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: center;
    padding: 5px;
}
.socialMedia a {
    color: white;
  }
  
.socialMedia svg {
    width: 20px;
    height: 20px;
  }
.socialMedia{
    padding: 10px;
}
.socialMedia p{
    font-size: 15px;
    padding: 5px;
}
.footerSig{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.socialMedia , .contactForm{ 
    display: flex;
    flex-direction: column;
}

.formSubmit{
    color: white;
    background-color: green;
    width: 100%;
    min-height: 30px;
    font-size: 25px;
}
#email , #message , #name{
    width: 100%;
    border-radius: 5px;
    min-height: 25px;
    font-size: 12px;
    padding: 3px;
    margin-bottom: 5px;
}
#message{
    min-height: 80px;
}
.miniboard{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-color: black;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
}

.performerRow{
    display: grid;
    grid-template-columns:  2fr 2fr 0.5fr 0.5fr;
    border-bottom: black;
}
.performerRow3{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}
.performerColumn{
    text-align: center;
    width: fit-content;
}
button.selected {
    background-color: red;
    color: #f0f0f0;
  }
  
  button.correct {
    background-color: green;
    color: white;
  }

  .timer.low-time {
    background-color: red;
  }

  .profile{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 10px;
  }
  
  .progress , .userDetail{
    display: flex;
    flex-direction: column;
  }
  .progress{
    width: 90%;
  } 
  .lowlight{
    color:red;
  }
  .userDetail{
    padding: 20px;
    border-radius: 15px;
    border: black 2px;
  }

  .detailRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    margin-top: 10px;
    padding-top: 5px;
  }

  .profilePic{
    height: 350px;width: 350px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
@media only screen and (max-width:900px) {
    .navbar a{
        width:70px;
        
    }  
}

@media only screen and (max-width:600px) {

    .toggleButton{
        display: flex;
    }

    #close a{
        display: none;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .about h2{
        font-size: 50px;
    }
    .about .prompt{
        font-size: 30px;
    }

    .itemsBody{
        display: flex;
        flex-direction: column;
    }

    .oneOfThree{
        width: 60%;
        margin: 20px;
        min-height: 400px;
    }

    .quiz , .questionRoot{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .questionText , .score{
        font-size: 20px;
    }

    .questionSection{
        height: 500px;
    }

    .scoreSection button{ 
        background-color: green;
        color: #f0f0f0;
        width: 60%;
    }

    .questionCount{
        text-align: center;
    }

    
    .performerRow3 .performerColumn:not(:first-child):not(:nth-child(3)) {
        display: none;
    }

    .footerMain{
        display: flex;
        flex-direction: column;
    }
    


}

@media only screen and (min-width:960px) {
    .toggleButton{
        display: none;
    }

    .hiddenLinks{
        display: none;
    }

    #open{
        height: 100px;
    }

    #open .links{
        flex-direction: row;
    }

    
}

