
.navbar{
    width: 100%;
    height:100px;
    background: black;
}

.links{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    margin-right: 5px;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.toggleButton{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg{
    font-size: 50px;
}

.toggleButton button{
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open{
    height: 100vh;
}

#open .links{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a{
    width: 100%;
    text-align: center;
}

.links img{
    border-radius: 50%;
    height: 60px;
}

.home , .quiz , .scoreSection{
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.imageContainer{
    background-image: url(./assets/home_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .about{
    width: 100%;
    height: calc(100vh - 300px);
    background-color: black;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
 }

 .about h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #e9d35b;
    
 }

 .about .prompt{
    width: 40%;
    font-size: 40px;
 }

 .about p a{
    color: #f0f0f0;
    
 }

 .linkButton , .scoreSection button{
    background-color: blue;
    color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
 }

 .linkButton , .about .prompt{
    cursor: pointer;
    padding: 10px;
 }
 .itemsBody{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px; 
    align-items: center;
 }

 .oneOfThree{
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 10px;
    width: 300px;
    height: 300px;
    margin: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.5);
    text-align: center;
 }


.quiz , .leaderBoard{
    margin-top: 50px;
    background-color: #f0f0f0;
    color: black;
    width: 60vw;
    min-height: 60vh;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 43px 0px rgba(0,0,0, 0.75);
    margin-bottom: 50px;
}

.questionCount{
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.questionRoot{
    display: grid;
    grid-template-columns:  2fr 1fr;
    padding: 20px;
}
.questionText{
    font-size: 40px;
    padding: 20px;
}
.answerSection{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.answerSection button{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    min-height: 30px;
    height: auto;
}

.score{
    font-size: 100px;
    text-align: center;
}
.scoreSection{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.footer{
    min-height: 100px;
    height: auto;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;

}
.footerMain{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}
.socialMedia{
    padding: 10px;
}
.socialMedia p{
    font-size: 15px;
    padding: 5px;
}
.footerSig{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.miniboard{
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-color: black;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
}

.performerRow{
    display: grid;
    grid-template-columns:  2fr 2fr 0.5fr 0.5fr;
    border-bottom: black;
}
.performerRow3{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}
.performerColumn{
    text-align: center;
    width: fit-content;
}

@media only screen and (max-width:900px) {
    .navbar a{
        width:70px;
        
    }
    
}

@media only screen and (max-width:600px) {
    .toggleButton{
        display: flex;
    }

    #close a{
        display: none;
    }
}


@media only screen and (min-width:600px) {
    .toggleButton{
        display: none;
    }

    .hiddenLinks{
        display: none;
    }

    #open{
        height: 100px;
    }

    #open .links{
        flex-direction: row;
    }
    
}

@media only screen and (max-width:600px) {

    .performerRow3 .performerColumn:not(:first-child):not(:nth-child(3)) {
        display: none;
    }
    
}